<div class="text-sm p-2 bg-slate-200">
    Recherché par <span class="text-lg"> {{name_search}} </span>
</div>
<div class="relative flex flex-grap p-2">
  <div class="w-2/12 p-2">
    <p class="text-sm">Name</p>
  </div>
  <div class="w-2/12 p-2">
    <p class="text-sm">Quantité</p>
  </div>
  <div class="w-4/12 p-2">
    <p class="text-sm">Description</p>
  </div>
  <div class="w-4/12 p-2 flex flex-row">
    <button onclick="window.location.href='/'" class="bg-[#ff2222] p-2" style="cursor:pointer;border: none; border-radius: 10px;color:white;">Back</button>
    <form class="flex flex-row ml-3" action="/search" method="post">
        <input class="p-2 rounded border" type="text" name="name" placeholder="Rechercher par name">
        <button type="submit" class="bg-violet ml-3 p-2" style="cursor:pointer;border: none; border-radius: 10px;color:white;"> Rechercher </button>
      </form>
  </div>
</div>

  {{#each products}}
<div class="relative flex flex-grap rounded p-2 mt-1 iq-card">

    <div class="w-2/12 p-2">
      <a href='/{{this._id}}' class="text-violet"> {{this.name}} </a>
    </div>
    <div class="w-2/12 p-2">
      <p class="text-sm">{{this.qty}}</p>
    </div>
    <div class="w-7/12 p-2">
      <p class="text-sm">{{this.description}}</p>
    </div>
    <div class="w-1/12 p-2">
      <p class="text-sm"><a href='/delete/{{this._id}}' class="text-[#FF0000]"> Supprimer </a></p>
    </div>

</div>
{{/each}}
